/* Projects */
.carousel {
  max-width: 1280px; /* Adjust width */
  max-height: 720px; /* Adjust height */
  margin:  auto; /* Centers the carousel */
}

.carousel img {
  height: 100%; /* Ensures images fit within the defined height */
  object-fit: cover; /* Crops images to fill the space */
  width: 100%;
}

.carousel-caption {
  background-color: rgba(40, 23, 23, 0.8); /* Semi-transparent black background */
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption h5 {
  font-size: 2em;
  color: white;
}

.carousel-caption p {
  font-size: 1.5em;
  color: white;
}