/* Footer */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    box-sizing: border-box;
}

.footerContainer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 2rem;
}

.socialIcons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.socialIcons a i {
    font-size: 1.75em;
    color: #000;
    opacity: 0.5;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.socialIcons a .insta i {
    background-image: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socialIcons a .linkin i {
    color: #0077b5;
}

.socialIcons a .yt i {
    color: #ff0000;
}

.socialIcons a:hover {
    background-color: #000;
}

.socialIcons a:hover i {
    color: #fff;
    opacity: 1;
}

.footerNav {
    margin: 2rem 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footerNav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 1rem 0;
}

.footerBottom p {
    color: #fff;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
        align-items: center;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 0.5rem 0;
    }
}
