/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px 0;
    margin: 0;
    box-sizing: border-box;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration:none;
    padding:10px;
    background-color:white;
    margin:10px;
    border-radius:50%;
}

.socialIcons a i{
    font-size: 1.75em;
    color:black;
    opacity:0.5;
}
.socialIcons a .insta i{
  background-image: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.socialIcons a .linkin i{
    color: blue;
}

.socialIcons a .yt i{
    color:red;
}

.socialIcons a:hover{
    background-color: black;
    transition:0.5s;
}

.socialIcons a:hover i{
    color:white;
    transition:0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display:flex;
    justify-content:center;
}

.footerNav ul li a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 1.2em;
    opacity:0.7;
    transition:0.5s;

}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color:black;
    padding:20px;
    text-align:center;

}
.footerBottom p{
    color:white;
}

.designer{
    opacity: 0.7;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:400;
    margin:0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin:10px;
    }
}
