.hero  {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-image: url('https://images.unsplash.com/photo-1586775490184-b79f0621891f?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero-content ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

.hero p {
    font-size: 1.75em;
    font-style:italic;
    font-weight: 400;
    margin-top: 0;

}
.hero .btn {
    display: block;
    padding: 0.5em;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-decoration: none;
    font-size: 1.25em;
    font-family:sans-serif;
    border: 3px solid black;
    border-radius: 100px;
}

.hero .btn:hover{
    background-color: black;
    opacity: 0.8;
    color: white;
    border: 3px solid black;
    border-radius: 100px;
}

.github {
    animation: moveHero 1s infinite alternate;
}

@keyframes moveHero {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10px); }
}

@media (max-width: 700px){
    .hero h1 {
        font-size: 3em;
    }
    .hero p {
        font-size: 1.25em;
    }
    .hero .btn {
        
        font-size: 1.05em;
    }
}