
.carousel {
  max-width: 100%; 
  margin: 2rem auto; 
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  /* Subtle shadow effect */
}

.carousel img {
  height: auto;  
  object-fit: cover;
}

.carousel-caption {
  background: linear-gradient(180deg, rgba(0,0,0,0.8), rgba(0,0,0,0.6));
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.7);
  
}

.carousel-caption h5 {
  font-weight: bold;
  color: white;

}

.carousel-caption p {
  font-size: 1.2rem;
  margin: 0;
  color: white;
}

@media (max-width: 768px) {
  .carousel {
    max-height: 500px; 
  }

  .carousel-caption {
    width: 80%;
    padding: 1rem;
  }

  .carousel-caption h5 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }
}

@media (max-width: 580px) {
  .carousel-caption {
    width: 90%;
    padding: 0.8rem;
  }

  .carousel-caption h5 {
    font-size: 1rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }
}
